.columna-card {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #123acb;
  color: #123acb;
}
.columna1-card {
  margin: 0 auto;
}

.container-card {
  width: 100%;
  padding: 15px;
}
.carousel-inner {
  width: 80%;
  height: 500px;
  display: flex;
  margin: 0 auto;
  margin-top: 2%; 
}

.review-textarea {
  border-color: #123acb;
  border-width: 1px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
}

.review-textarea:focus,
.review-textarea:hover {
  border-width: 2px;
  outline: none;
}

.prop-images img{
  
  width: 65%;
    
}

/* .active  {
  background-color: chartreuse;
} */

/* .carousel.item img {
  width: 20px;
} */
/* .carousel-inner img {
  height: 110%;

} */





.react-time-picker__inputGroup__input.react-time-picker__inputGroup__hour{
 
  width: 9px;
  padding: 0px;
  /* color: black; */
/* margin-top: 10px; 
margin-bottom: 10px;  */
  /* font-size: small;
   */
}



.react-time-picker__inputGroup__input.react-time-picker__inputGroup__minute{

  width: 9px;
  padding: 0px;
  /* color: black; */
/*   margin-top: 10px;
  margin-bottom: 10px; */
  /* font-size: small; */
}

.react-time-picker__inputGroup {
 /* width: 30%; */
}