/* css */

/* .columna-grid {
  border: 1px solid #123acb;
}

.col-grid {
  border: 1px solid #123acb;
}

.botones-div {
  display: flex;
  justify-content: end;
}

.botones-cta {
  background-color: white;
  border-radius: 50px;
  border-color: orange;
  margin: 2%;
}

.buttonVerMas {
  background-color: white;
  border-radius: 50px;
  margin-top: 13%;
  color: #123acb;
  font-family: "Montserrat";
  font-weight: 800;
}

.boton-cta {
  color: #123acb;
}

.botones-info {
  color: #123acb;
}

/* .row > * {
  padding-left: 0% !important;
  padding-right: 0% !important;
} */

.col-siete {
  border: 1px solid #123acb;
}

.col-cinco {
  border: 1px solid #123acb;
  padding: 0%;
  height: 250px;
}

.grid-img {
  height: 250px;
}

.col-internas {
  border: 1px solid #123acb;
}

.icons-internos {
  color: #123acb;
}

.cont-btn {
  display: flex;
  justify-content: end;
  margin-top: 4%;
}

.col-internas-botones {
  padding: 2%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn-cta {
  background-color: white;
  border-color: orange;
  color: #123acb;
  border-radius: 50px;
}

.btn-mas {
  background-color: white;
  color: #123acb;
  border-radius: 50px;
  font-family: "Montserrat";
  font-weight: 800;
}
