/* css */

.navbar {
  background-color: #fe4236;
}
.link {
  text-decoration: none;
  color: black;
}
.link-perfil {
  text-decoration: none;
  color: black;
  display: flex;
  margin-left: 4%;
}

.button-position {
  justify-content: flex-end;
  margin: 2px;
}
